nav ul {
  text-decoration: none;
  margin: 0.5em 0;
  width: 25em; }
  nav ul li {
    color: #62696F;
    display: inline;
    padding: 0 0.6em; }
    nav ul li a {
      text-decoration: none;
      color: #62696F; }

div.image {
  width: 100%;
  background: no-repeat url("https://raw.githubusercontent.com/TIY-Austin-Front-End-Engineering/responsive-site/master/background.jpg");
  margin: 0 auto 2.7em auto; }
  div.image span {
    display: block;
    color: #ffffff;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 56px;
    font-size: 1.5em; }

div.keeper {
  margin: 0 auto; }
  div.keeper div.option {
    width: 96%;
    padding-bottom: 1px;
    margin: 0 auto;
    margin-bottom: 1.875em; }
    div.keeper div.option div.optionBoxTop1 {
      background-color: #519251;
      padding-top: 1.875em;
      padding-bottom: 2.3125em; }
      div.keeper div.option div.optionBoxTop1 span.stuff1 {
        display: block;
        text-align: center;
        font-size: 16px;
        color: #FDFEFD; }
      div.keeper div.option div.optionBoxTop1 span.stuff2 {
        display: block;
        text-align: center;
        font-size: 95px;
        color: #FEFEFE; }
      div.keeper div.option div.optionBoxTop1 span.stuff3 {
        display: block;
        text-align: center;
        font-size: 16px;
        color: #A7C8A7; }
    div.keeper div.option div.optionBoxTop2 {
      background-color: #2C4985;
      padding-top: 1.875em;
      padding-bottom: 2.3125em; }
      div.keeper div.option div.optionBoxTop2 span.stuff1 {
        display: block;
        text-align: center;
        font-size: 16px;
        color: #FDFEFD; }
      div.keeper div.option div.optionBoxTop2 span.stuff2 {
        display: block;
        text-align: center;
        font-size: 95px;
        color: #FEFEFE; }
      div.keeper div.option div.optionBoxTop2 span.stuff3 {
        display: block;
        text-align: center;
        font-size: 16px;
        color: #A7C8A7; }
    div.keeper div.option div.optionBoxTop3 {
      background-color: #111111;
      padding-top: 1.875em;
      padding-bottom: 2.3125em; }
      div.keeper div.option div.optionBoxTop3 span.stuff1 {
        display: block;
        text-align: center;
        font-size: 16px;
        color: #FDFEFD; }
      div.keeper div.option div.optionBoxTop3 span.stuff2 {
        display: block;
        text-align: center;
        font-size: 95px;
        color: #FEFEFE; }
      div.keeper div.option div.optionBoxTop3 span.stuff3 {
        display: block;
        text-align: center;
        font-size: 16px;
        color: #A7C8A7; }
    div.keeper div.option div.optionBox {
      background-color: #F7F7F7;
      line-height: 2.31em;
      color: #425057;
      border-right: 0.2em solid #E1E1E1;
      border-left: 0.2em solid #E1E1E1;
      border-bottom: 0.1em solid #E1E1E1;
      text-align: center;
      padding-top: 1px; }
      div.keeper div.option div.optionBox span {
        font-size: 14px; }
    div.keeper div.option div.optionBoxLast {
      display: block;
      background-color: #ffffff;
      border-right: 0.2em solid #E1E1E1;
      border-left: 0.2em solid #E1E1E1;
      border-bottom: 0.1em solid #E1E1E1;
      padding-top: 1.25em;
      padding-bottom: 1.25em; }
      div.keeper div.option div.optionBoxLast a {
        display: block;
        border: 0.2em solid #E1E1E1;
        color: #000000;
        font-weight: bold;
        font-size: 14px;
        width: 5.25em;
        border-radius: 30px;
        text-decoration: none;
        text-align: center;
        line-height: 2.2em;
        margin: 0 auto; }

.dualText {
  width: 75%;
  margin: 0 auto;
  padding-top: 2.75em; }
  .dualText div {
    padding-bottom: 0.5em; }
    .dualText div > h3 {
      font-weight: normal;
      letter-spacing: 0.18em; }
    .dualText div > div {
      font-size: 14px;
      line-height: 1.5; }

footer {
  background-color: #000000; }
  footer span {
    display: block;
    color: #898989;
    padding: 1.5em 2em 1.5em 2em;
    text-align: center;
    font-size: 14px;
    line-height: 1.5; }
    footer span > a {
      color: #E5E5E5; }

@media screen and (min-width: 479px) {
  div.image span {
    padding-top: 135px;
    padding-bottom: 135px;
    font-size: 35px; } }
